.flex-container {
	display: flex;
	background-color: green;
	justify-content: center;
	flex-direction: row;
	margin: auto;
}
form {
	flex-grow: 1;
	flex-direction: column;
}
.form-field {
	display: inline-block;
	background-color: white;
	width: 20%;
}